
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



/* || CSS RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* || SOME ATTRIBUTION */
.attribution { font-size: 0.6875rem; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

/* || MAIN */
body{
    font-family:"Outfit", sans-serif;
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper{
    width: 20rem;
    height: 31.1875rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:center;
   padding: 1rem;
    margin-bottom: 30px;
    border-radius: 20px;
    text-align: center;
}

.wrapper> img{
    display: block;
    width: 100%;
    max-width: 18rem;
    margin-bottom: 1.5rem;
    height: auto;
    border-radius: 10px;
}

.text{
    padding-inline: 1rem;
}

.heading{
    font-size: 1.375rem;
    line-height: 1.2;
    color: #1f314f;
    margin-bottom: 1rem;
}
.paragraph{
    color: #68778D;
    font-size: 0.9375rem;
    margin-bottom: 2.5rem;
}


/*------------ Mobile ------------*/

@media screen and (max-width:375px){
body{
    max-width: 375px;
}

}